<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="de">

  {% include "components/head.njk" %}

  <body>

    <header>
      <div>
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </div>

      {% include "components/nav.njk" %}
    </header>

    <main>
      {{ layoutContent | safe }}
    </main>

    <aside>
      <h2>Was wir machen</h2>
      <ul>
        <li>Wir treffen uns zum lockeren Gespräch. Raum 16, 3. Samstag im Monat, 16 Uhr.</li>
        <li>Für die Liebhaber der Musik gibt es einen Chor für Leute mit und ohne Erfahrung. Chorleiter ist der kolumbianische Tenor Hernando Riano. Raum 22. Samstags, 15-17 Uhr.</li>
        <li>Die Theatergruppe "La Cotorra" übt im Raum 16. Interessenten sind herzlich willkommen. Mittwochs 19-22 Uhr.</li>
        <li></li>
      </ul>
    </aside>

    {% include "components/footer.njk" %}

  </body>

</html>