---
layout: layouts/base.njk
section: veranstaltungen
permalink: /veranstaltungen/index.html
---
{{ layoutContent | safe }}

{% set postslist = collections.veranstaltung %}
{% include "components/postslist.njk" %}